@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45, 62%, 95%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 45, 62%, 95%;
    --secondary: 30, 55%, 87%;
    --muted: 240 3.8% 46.1%;
    --accent: 14, 35%, 72%;
    --accent-hover: 14, 55%, 65%;
    --border: 14, 23%, 78%;
    --input: 30, 13%, 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 28, 41%, 7%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 60, 8%, 56%;
    --secondary: 20, 29%, 18%;
    --muted: 52, 13%, 47%;

    --accent: 52, 37%, 74%;
    --accent-hover: 60, 33%, 85%;
    --border: 20, 29%, 41%;
    --input: 27, 41%, 50%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
  }
}
